.hero{
	text-align:center;
}

.overlay{
	background:rgba($orange,.5);
}

.hero .wrap{
	padding:60px 0;
}

.feature img{
	@include size(100% auto);
	border-radius:$default-border-radius;
}

.customer img{
	@include size(150px);
	border-radius:$default-border-radius;
}

.testimonials{
	background:$blue;
	text-align:center;

	.name{
		display:block;
	}

	.quote{
		font-style:italic;
		font-family:$sans-serif;
	}
}